page-noticias {
.card-md , .card-ios{
    background: #68a20bab;
}
.content-md , .content-ios{
    color: #5895e1;
}



.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
  color: #488aff;
  background-color: transparent;
}
.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
    color: #488aff;
  background-color: transparent;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #488aff;
    background-color: transparent;
}
}
