page-contactos {
  ion-content{
  
      .body{
        position: absolute; top:0; left: 8%;right: 8%;bottom:0;
      }
    }
    .list-md .item-block .item-inner {
      border-bottom: 0px solid #ffffff;
  }
}
