page-home {
    .tutorial-page {

        .toolbar-background {
          background: #fff;
          border-color: transparent;
        }
      
        .slide-zoom {
          height: 100%;
        }
      
        .slide-title {
          margin-top: 0.0rem;
        }
      
        .slide-image {
          max-height: 20%;
          max-width: 60%;
          margin: 0px 0;
        }
      
        b {
          font-weight: 500;
        }
      
        p {
          padding: 0 10px;
          font-size: 14px;
          line-height: 1.0;
          color: #60646B;
      
          b {
            color: #000000;
          }
        }
      
      }
      #full{
        padding: 0 6px;
        b {
          color: #000000;
        }
      }
      .bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
  color: #488aff;
  background-color: transparent;
}
.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
    color: #488aff;
  background-color: transparent;
}
}
