<ion-header>
    <ion-navbar>
        <ion-buttons start>
          <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        </ion-buttons>
        <ion-title text-center>{{'MI_PERFIL.TITULO'|translate}}</ion-title>
        <ion-buttons end>
          <button float-right  class="language-button" *ngIf="lang === 'es'"  (tap)="cambiarIdioma('en')">🇪🇸</button>
          <button float-right class="language-button" *ngIf="lang === 'en'"  (tap)="cambiarIdioma('it')">🇬🇧</button>
          <button float-right class="language-button" *ngIf="lang === 'it'"  (tap)="cambiarIdioma('es')">🇮🇹</button>
        </ion-buttons>
      </ion-navbar>
</ion-header>
<ion-content padding>
  <img class="imgPerfil" src="assets/imgs/noProfile.png" *ngIf="user?.image==''" />
  <img class="imgPerfil" [src]="user?.image" *ngIf="user?.image" />
  <h1 text-center margin-top>{{user?.username}}</h1>
  <div text-center>
    <button ion-fab color="primary" margin (tap)="obtenerImgPerfilNueva()" style="display: inline-block;">
      <ion-icon name="camera"></ion-icon>
    </button>
    <button ion-fab color="danger" margin *ngIf="user?.image" (tap)="borrarImgPerfil()" style="display: inline-block;">
      <ion-icon name="trash"></ion-icon>
    </button>
  </div>
  <!-- new q -->
  <div text-center *ngIf="imgPerfilNueva">
    <h4 margin-top margin-bottom>{{'MI_PERFIL.IMAGEN_PERFIL.NUEVA'|translate}}</h4>
    <img [src]="imgPerfilNueva" />
    <button ion-fab color="primary" margin (tap)="subirImgPerfilNueva()" style="display: inline-block;">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </div>

  <form *ngIf="formMiPerfil" [formGroup]="formMiPerfil" (ngSubmit)="submitForm()">
    <ion-list>
      <ion-item>
        <ion-label floating>{{'MI_PERFIL.CAMPOS.USUARIO'|translate}}</ion-label>
        <ion-input type="text" formControlName="usuario" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'MI_PERFIL.CAMPOS.NOMBRE'|translate}}</ion-label>
        <ion-input type="text" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'MI_PERFIL.CAMPOS.EMAIL'|translate}}</ion-label>
        <ion-input type="email" formControlName="email" [disabled]="true"></ion-input>
      </ion-item>
    </ion-list>
    <div text-center margin-top>
      <button ion-button color="primary" [disabled]="!formMiPerfil.valid">{{'MI_PERFIL.MODIFICAR'|translate}}</button>
    </div>
  </form>  
</ion-content>
  